<h1>Editing Order Billing Address</h1>

<%= render 'form', order_billing_address: @order_billing_address %>

<%= link_to 'Show', @order_billing_address %> |
<%= link_to 'Back', order_billing_addresses_path %>
